@mixin menufont{
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
@mixin myflex{
    display: flex;
    justify-content: flex-start;
    align-items:start;
}
@mixin navflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin formsflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin back-p{
    color:$divp_color;
    font-size: 55px;
    font-family: $myfont;
}
@mixin formsp{
    font-size: 30px;
    color:$divp_color;
    font-family: $myfont;
    line-height: 45px;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin footer_style{
    display: flex;
    align-items: center;
    gap:90px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;
}