header{
    nav{
        @include navflex;
        height:150px;
        margin-left: 90px;
        margin-right: 90px;
        @media(max-width:805px){
            margin-left: 50px;
            margin-right: 50px;
        }
        .logo > img{
            width: 100px;
            height: 90px;
            @media(max-width:720px){
                width:70px;
                height: 60px;
            }
        }
         .menu > ul{
            display: flex;
            gap:70px;
            @media(max-width:1060px){
               gap:40px; 
            }
            @media(max-width:700px){
                
            }

            li{
                padding-bottom: 7px;
                font-size: 20px;
                font-family: $myfont;
                @include menufont;
                .search{
                    width:23px;
                    height: 20px; 
                }
                @media(max-width:900px){
                    font-size:15px;
                }

                @media(max-width:710px){
                   display:none;

                }   
            }
            .bar{
                display: none;
                @media(max-width: 710px){
                    display: flex;

                }
            }
            li:hover{
                border-bottom: 2px solid $borderhover;
                cursor: pointer;
            }
            #underlined{
                border-bottom: $liborder;
                padding-bottom: 7px;
            }
            #underlined:hover{
                border-bottom: $liborder;
            }
         }

    }
}
.s-1{
.back-img{
    background-image: url(../images/Earth_forest.jpg);
    height: 450px;
    width:100%;
    object-fit: cover;
    background-size: cover;
    @include myflex;
    padding: 50px;
    .back-img-p{
        @include back-p;
        @media(max-width:700px){
            font-size:35px;
        }
    }
}
}
.s-2{
    margin-top: 60px;
    margin-bottom: 120px;
    .s2-header{
        font-size: 32px;
        font-family:$myfont;
        margin: auto;
        width:300px;
        @media(max-width:630px){
            font-size: 22px;
            width:200px;
        }
    }
    .s2-div{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        @media(max-width:630px){
            flex-direction: column;
            height:600px;
            align-items: center;
            margin-top: 0;
        }
        .flex-imgs{
            max-width: 390px;
            height: 320px;
            @media (max-width:1330px) {
                width: 260px;
                height: 200px;
            }
            @media(max-width:830px){
                width:200px;
                height: 130px;
            }
            @media(max-width:630px){
                width:80%;
                height:160px;
                margin-bottom: 0;
            }

            .div-img{
                width:100%;
                height: 100%;
                border-radius:10px;
                @media(max-width:630px){
                    object-fit: cover;
                }
            }
            .s2-div-p{
                font-size: 24px;
                font-family: $myfont;
                padding-top:10px;
                padding-bottom: 10px;
                @media(max-width:1330px){
                    font-size: 14px;
                }
                @media(max-width: 600px){
                    font-size: 12px;
                }

            }
        }
        .flex-imgs:hover{
            transform: scale(1.1);
            transition: 0.3s;
        }

    }
}
.s-3{  
    .Main{
        display: flex;
        justify-content: center;
        margin-top: 150px;
        .forms-div{
            @include formsflex;
            gap:20px;
            max-width: 620px;
            width: 100%;
            background-color: $formscolor;
            @media (max-width:630px){
                margin-top: 0;
            }
        }
        .input-sec{
            padding-top: 30px;
            .input-h3{
                font-size: 30px;
                color:$colorgreen;
                font-family: $myfont;
            }
            .inputs{
                max-width:340px;
                width: 100%;
                height:60px;
                font-size: 20px;
                padding: 8px;
                border: none;
                outline-color: $colorgreen;
                @media(max-width:375px){   
                    width:260px;
                }
            }
            #Submit{
                border-radius: 15px;
                max-width:260px;
                width:100%;
                height: 40px;
                padding:5px;
                margin-top: 10px;
                background-color: $colorgreen;
                color: $divp_color;
                cursor: pointer;
                @media(max-width:650px){
                    margin-bottom:20px;
                }
            }
            #Submit:hover{
                background-color: $colorwhite;
                border:  2px solid $colorgreen;
                color:$colorgreen;
                transition: 0.3s;
            }
        }
        .back-div{
            background-image: url(../images/emerald-green.png);
            max-width: 600px;
            width: 100%;
            height:410px;
            @media(max-width: 650px){
                display: none;
            }

            .forms-p{
                @include formsp;
                padding-top: 50px;
            }
            .icon-div{
                display: flex;
                padding-top: 30px;
                color:$divp_color;
                gap: 10px;
                font-size: 20px;
                .clock{
                    width:20px;
                    height: 20px;
                }
            }
        }
    }
}
footer{
    background-color: #C6DCCE;
    margin-top: 30px;
    width:100%;
    height: 220px;
    .Main-foot{
        @include footer_style;
        @media(max-width:775px){
            gap:50px;
        }
        @media(max-width:645px){
            padding-left: 30px;
        }
        @media(max-width:550px){
            gap:20px;
        }
        .footer-logo{
            width:100px;
            height: 90px;
            @media(max-width:645px){
                width:80px;
                height:80px;
            }
            @media(max-width:550px){
                width:65px;
                height: 60px;
            }
            @media(max-width:425px){
                width: 55px;
                height: 45px;
            }
        }
        .fot-p{
            font-size: 18px;
            max-width: 190px;
            width:100%; 
            @media(max-width:820px){
                display: none;
            }
        }
        .categories{
            display: flex;
            flex-direction: column;
            font-size: 17px;
            gap:5px;
            .footer-pages{
                border-bottom:$foot-border;
                @media(max-width:550px){
                    font-size: 15px;
                }
            }
        }
        .ig-icons{
            display: flex;
            flex-direction: column;
            gap:10px;
            .follow,.web-ig{
                font-size: 17px;
                @media(max-width:550px){
                    font-size: 14px;
                }
            }
            .web-ig:hover{
                color:blue;
                cursor: pointer;
            }
            .icons{
                display: flex;
                gap:15px;
            }
        }
    }
}
.sec-one{
    .back-image{
        background-image: url(../images/spring-foto.jpg);
        object-fit: cover;
        background-size: cover;
        width: 100%;
        height: 275px;
        @include center;
        font-family: $myfont;
        gap: 10px;
        .About-us{
            color:$colorwhite;
            font-size: 55px;
            @media(max-width:900px){
                color:rgb(186, 173, 173);
                font-size: 40px;
            }
        }
        .slogan{
            color:$divp_color;
            font-size: 22px;
            @media(max-width:900px){
                color:rgb(186, 173, 173);
            }
        }
    }
}
.sec-two{
    .main-pdiv{
        margin-top: 40px;
        display: flex;
        gap:35px;
        justify-content: center;
        @media(max-width:870px){
               gap:23px;
               margin-left: 10px;
               margin-right: 10px;     
        }
        .two-articles{
            width: 580px;
            line-height: 30px;
            @media(max-width:870px){
                width:500px;
                line-height: 25px;
            }
            .article-h{
                font-size: 30px;
                margin-bottom: 10px;
                @media(max-width:500px){
                    font-size: 26px;
                }
            }
            .quote{
                color:rgb(66, 64, 64);
                font-family: 'Sevillana', cursive; 
                font-size: 23px;
            }
            .article-p{
                font-size: 24px;
                @media(max-width:870px){
                    font-size: 19px;
                }
                @media(max-width:455px){
                    font-size: 17px;
                }
            }
            .our-mission{
                @media(max-width:390px){
                    display: none;
                }
            }
            .line-div{
                display: flex;
                justify-content: flex-end;
                .line{
                    width:200px;
                    height:3px;
                    background-color:grey;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    @media(max-width:870px){
                        margin-top: 20px;
                    }
                }
            }
        }
        .vertical-line{
            display: flex;
            align-items: end;
            @media(max-width:455px){
                   display: none; 
            }
            .v-line{
                width:3px;
                height:220px;
                background-color: gray;
            }
        }
    }
}