header{
    nav{
        @include navflex;
        height:150px;
        margin-left: 90px;
        margin-right: 90px;
        @media(max-width:805px){
            margin-left: 50px;
            margin-right: 50px;
        }
        .logo > img{
            width: 100px;
            height: 90px;
            @media(max-width:720px){
                width:70px;
                height: 60px;
            }
        }
         .menu > ul{
            display: flex;
            gap:70px;
            @media(max-width:1060px){
               gap:40px; 
            }
            @media(max-width:700px){
                
            }

            li{
                padding-bottom: 7px;
                font-size: 20px;
                font-family: $myfont;
                @include menufont;
                .search{
                    width:23px;
                    height: 20px; 
                }
                @media(max-width:900px){
                    font-size:15px;
                }

                @media(max-width:710px){
                   display:none;

                }   
            }
            .bar{
                display: none;
                @media(max-width: 710px){
                    display: flex;

                }
            }
            li:hover{
                border-bottom: 2px solid #33B815;
                cursor: pointer;
            }
            #underlined{
                border-bottom: $liborder;
                padding-bottom: 7px;
            }
            #underlined:hover{
                border-bottom: $liborder;
            }
         }

    }
}
.s-1{
.back-img{
    background-image: url(../images/Earth_forest.jpg);
    height: 450px;
    width:100%;
    object-fit: cover;
    background-size: cover;
    @include myflex;
    padding: 50px;
    .back-img-p{
        color:$divp_color;
        font-size: 55px;
        font-family: $myfont;
        @media(max-width:700px){
            font-size:35px;
        }
    }
}
}
.s-2{
    margin-top: 60px;
    margin-bottom: 120px;
    .s2-header{
        font-size: 32px;
        font-family:$myfont;
        margin: auto;
        width:300px;
        @media(max-width:630px){
            font-size: 22px;
            width:200px;
        }
    }
    .s2-div{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        @media(max-width:630px){
            flex-direction: column;
            height:600px;
            align-items: center;
            margin-top: 0;
        }
        .flex-imgs{
            max-width: 390px;
            height: 310px;
            @media (max-width:1330px) {
                width: 260px;
                height: 200px;
            }
            @media(max-width:830px){
                width:200px;
                height: 130px;
            }
            @media(max-width:630px){
                width:80%;
                height:140px;
                margin-bottom: 0;
            }

            .div-img{
                width:100%;
                height: 100%;
                @media(max-width:630px){
                    object-fit: cover;
                }
            }
            .s2-div-p{
                font-size: 24px;
                font-family: $myfont;
                padding-top:10px;
                @media(max-width:1330px){
                    font-size: 14px;
                }
            }
        }
        .flex-imgs:hover{
            transform: scale(1.1);
            transition: 0.3s;
        }

    }
}
.s-3{  
    .Main{
        display: flex;
        justify-content: center;
        .forms-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:20px;
            max-width: 620px;
            width: 100%;
            background-color: #E3F1EA;
            @media (max-width:630px){
                margin-top: 0;
            }
        }
        .input-sec{
            padding-top: 30px;
            .input-h3{
                font-size: 30px;
                color:$colorgreen;
                font-family: $myfont;
            }
            .inputs{
                max-width:340px;
                width: 100%;
                height:60px;
                font-size: 20px;
                padding: 8px;
                border: none;
                outline-color: $colorgreen;
                @media(max-width:375px){   
                    width:260px;
                }
            }
            #Submit{
                border-radius: 15px;
                max-width:260px;
                width:100%;
                height: 40px;
                padding:5px;
                margin-top: 10px;
                background-color: $colorgreen;
                color: $divp_color;
                cursor: pointer;
            }
            #Submit:hover{
                background-color: #FFFF;
                border:  2px solid $colorgreen;
                color:$colorgreen;
                transition: 0.3s;
            }
        }
        .back-div{
            background-image: url(../images/emerald-green.png);
            max-width: 600px;
            width: 100%;
            height:410px;
            @media(max-width: 650px){
                display: none;
            }

            .forms-p{
                font-size: 30px;
                color:$divp_color;
                font-family: $myfont;
                line-height: 45px;
                padding-top: 50px;
            }
            .icon-div{
                display: flex;
                padding-top: 30px;
                color:$divp_color;
                gap: 10px;
                font-size: 20px;
                .clock{
                    width:20px;
                    height: 20px;
                }
            }

        }
    }
}